
    <!DOCTYPE html>
    <html lang="en">



    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        <title>@ViewBag.Title | Preclinic - Medical & Hospital</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/Content//css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content//css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content//css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content//css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content//css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content//css/style.css">
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="main-wrapper">

            @Html.Action("AllMenus", "Menu")
            @RenderBody()
        </div>
        <div class="sidebar-overlay" data-reff=""></div>
        <script src="assets/js/app.js"></script>

        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.slimscroll.js"></script>
        <script src="~/Scripts/select2.min.js"></script>
        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
        <script src="~/Scripts/Chart.bundle.js"></script>
        <script src="~/Scripts/chart.js"></script>
        <script src="~/Scripts/app.js"></script>
        @RenderSection("DeleteQuery", false)
    </body>
</html>